//-----> $TYPOGRAPHY

h1,h2,h3{
    color: $dark;
    font-family: $main-font;
}
p,a{
    color: $dark;
    font-family: $secondary-font;
}
h1{
    font-size: 70px;
    line-height: 1.4em;
}

.intro-text{
    font-size: 16px;
}
