.content {
    margin-bottom: 400px;
    margin-top: 93px;
}

.line, .arrow, .graph>div {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow{
    width: 22px;
    position: relative;

    &-h {
        bottom: 200px;
    }
}

.line{
    width: 290px;
    height: 1002px;

}
.anchor {
    width: 20px;
    height: 20px;
    color: $dark;
    position: relative;
    top: -200px;
}
.graph {
    

    &>div{
        width: 300;
       // display: flex;
    }
    
    &__1{
        top: 50px;

        &--arrow1{
            left: -144px;
            top: 146px;
        }
        &--arrow2{
            left: 144px;
            top: -15px;
        
        }
        &--anchor{
            top: -150px;
        }
    }

    &__2{
        top: 50px;

        &--arrow1{
            left: 144px;
            top: 90px;
        }
        &--arrow2{
            left: 0px;
            bottom: 40px;
        }
    }

    &__3{
        top: 50px;

        &--arrow1{
            left: 0px;
            top: 90px;
        }
        &--arrow2{
            left: 0px;
            bottom: 40px;        
        }
    }
}
