.line, .arrow, .graph>div {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow{
    width: 22px;
    position: relative;
}

.line{
    width: 290px;
    height: 1002px;

}

.graph {
    

    &>div{
        width: 300;
    }
    
    &__1{
        top: 50px;

        &--arrow1{
            left: -144px;
            top: 146px;
        }
        &--arrow2{
            left: 144px;
            top: -15px;
        
        }
    }

    &__2{
        top: 50px;

        &--arrow1{
            left: 144px;
            top: 90px;
        }
        &--arrow2{
            left: 0px;
            bottom: 40px;
        }
    }

    &__3{
        top: 50px;

        &--arrow1{
            left: 0px;
            top: 90px;
        }
        &--arrow2{
            left: 0px;
            bottom: 40px;        
        }
    }
}
