@media only screen and (min-width: 768px) {
    .menu-items {
        font-size: 20;
        margin-right: 50px;
    }

    //-----> $TYPOGRAPHY

    p,a
    {
        font-size: $fontsmall-large;
    }

    h1{
        font-size: $fontbig-large;
    }

}

