@media only screen and (min-width: 1024px) {
    .menu-items {
        font-size: 20;
        margin-right: 50px;
    }

    //-----> $TYPOGRAPHY

    section>p{
        color: $dark;
        width: 600px;
        text-align: center;
        margin-top: 80px;
    }

    //-----> $HEADER

    header{
        height: 665px;
    }

    .hero{
        position: relative;
        margin-left: 55vw;
        top: 198px;
        
        &_top, &_bottom{
            position: relative;
            height: 714px;
            width: 476px;
        }
        &_bottom{ 
            z-index: 2;
            left: 53px;
            top: -655px;
            content: url("../images/me/photomered@x2.jpg");
        }
        &_top{
            z-index: 3;
            content: url("../images/me/photome@x2.jpg");
        }
    }
    h1{
        font-size: $fontbig-large;
        line-height: 1.4em;
        position: absolute;
        left: -10px;
        top: 5vh;
    }
    
    .h1-offset{
        position: relative;
        margin-left: 10vw;
        margin-top: -70px;
        display: block;
    
    }

    .intro-text{
        font-size: 24px;
        width: 320px;
        top: 440px;
        margin-left: 27vw;
    }

    .reachme{
        font-size: 24px;
        font-family: $secondary-font;
    }

    .gradient{
        top: -775px;
        width: 32vw;
        margin-left: 27vw;     
    }


}



