//-----> $TYPOGRAPHY

h1,h2,h3{
    color: $dark;
    font-family: $main-font;
}
p,a{
    color: $dark;
    font-family: $secondary-font;
    font-size: $fontsmall;
}
h1{
    font-size: $fontbig;
    line-height: 1.4em;
    font-weight: 400;
    position: relative;
    left: -20px;
    top: 5vh;
}
