//-----> $TYPOGRAPHY

h1,h2,h3{
    color: $dark;
    font-family: $main-font;
    font-weight: 400;
}
p,a{
    color: $dark;
    font-family: $secondary-font;
    font-size: $fontsmall;
}
h1{
    font-size: $fontbig;
    line-height: 1.4em;
    position: relative;
    left: -10px;
    top: 5vh;
}

h2{
    font-size: $fontmedium;
}

section>p{
    display: flex;
    width: 294px;
    justify-content: center;
    font-size: $fontsection;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}

.section__1>p{
    text-align: center;
}

.section__2>p{
    text-align: right;
}

.section__3>p{
    text-align: left;
}