//-----> $TYPOGRAPHY

h1,h2,h3{
    color: $dark;
    font-family: $main-font;
    font-weight: 400;
}
p,a{
    font-family: $secondary-font;
    font-size: $fontsmall;
}
a{
    color: $dark;
}
p{
    color: $text2;
}
h1{
    font-size: $fontbig;
    line-height: 1.4em;
    position: relative;
    left: -10px;
    top: 5vh;
}

h2{
    font-size: $fontmedium;
}

