header{
    flex:1;
    height: 500px;
    flex-basis: auto;
    flex-wrap: wrap;
}

h1 {
    line-height: 1.4em;
    position: absolute;
    left: -10px;
    top: 5vh;
}

.h1-offset{
    position: relative;
    margin-left: 20vw;
    margin-top: -35px;
    display: block;
}

.intro-text{
    width: 210px;
    margin-left: 15vw;
    position: absolute;
    top:350px;
    align-items: flex-start;
    z-index: 5;
}

.gradient{
    height: 37px;
    width: 317px;
    background-image: $gradient;
    z-index: 4;
    position: relative;
    top: 500px;
}


.hero{
    position: relative;
    margin-left: 50vw;
    top: 253px;

    &_top, &_bottom{
        position: absolute;

    }
    &_bottom{ 
        z-index: 2;
        left: 53px;
        top: 53px;
    }
    &_top{
        z-index: 3;
    }
    
}


