header{
    flex:1;
    height: 500px;
    flex-basis: auto;
    flex-wrap: wrap;
}

.h1-offset{
    position: absolute;
    margin-left: 20vw;
    margin-top: -3vh;
    display: block;
}

.intro-text{
    width: 170px;
    margin-left: 10vw;
    position: absolute;
    top:350px;
    align-items: flex-start;
    z-index: 5;
}

.gradient{
    height: 37px;
    width: 50vw;
    background-image: $gradient;
    z-index: 4;
    position: relative;
    top: 35vh;
}

.hero{
    position: relative;
    left: 37vw;
    top: 7vh;

    &_top, &_bottom{
        position: absolute;
        height: auto;
    }
    &_bottom{ 
        z-index: 2;
        left: 53px;
        top: 53px;
    }
    &_top{
        z-index: 3;
    }
}

