//FLEX
.nav, .footer{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100vw;
    font-family: $main-font; 

    &__left, &__right {
        padding: 20px;
    }

    a{
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
        }
    }
}

.nav{
    height: 30px;
    top: 0;
}


.footer{
    /* height: 10px; */
    position: fixed;
    background-color: rgb(255, 0, 128);
    bottom: 0;
    /* left: 0; */
    z-index: -1;

    &__right{
        float: left;
        margin-left: auto;
    }
}