//FLEX
.nav, .footer{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    max-width: 100vw;
    font-family: $main-font; 

    a{
        font-family: $main-font; 
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
        }
    }
}

.nav{
    height: 30px;
    top: 0;
}

.footer{
    height: 10px;
    bottom: 0; // required as well.
    position: sticky;
    background-color: $light;
    bottom: 0;
    left: 0;

    &__right{
        float: left;
        margin-left: auto;
    }
}