//FLEX
nav, footer{
    padding: 20px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $main-font; 
}

footer{
    height: 10px;
    bottom: 0; // required as well.
}

nav{
    height: 30px;
}

.nav, .footer{
    /*position: -webkit-sticky;  // required for Safari*/
    position: relative;
}

.nav{
    top: 0px;
}

.footer{
    bottom: 0px;
}