.section-title{
    margin-top: 200px;
    position: relative;
    display: flex;
    height: 196px;

&__1 &__2 &__3 {
    align-items: center;
    justify-content: center;
}

&__2 &__3 {
    display: flex;
    position: relative;
}

    &__1{
        background-image: url('/images/graphics/svg/design-icon.svg');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        //display: flex;
        
    }

    &__2{
        

        &--graphic{
            z-index: 1;
            left: 45px;
        }

        &--h2{
            z-index: 2;
            left: -45px;
            min-width: 180px
        }
    }

    
}